<div class="Container">
    <h2>{{model.username}}</h2>
    <img src={{model.profilePicture}}>
    <br>
    <li><strong>First name:</strong>{{model.firstname}}</li>
    <br>
    <li><strong>Last name:</strong>{{model.lastName}}</li>
    <li><strong>Posts:</strong></li>


</div>
{{outlet}}    